.cell {
  display: flex;
  justify-content: center;
  width: var(--cell-size);
  height: var(--cell-size);
  line-height: var(--cell-size);
  border: 1px solid var(--cell-border-color);
  background-color: var(--cell-background-color);
  font-family: "Pixel", sans-serif;
  font-size: var(--cell-font-size);
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
}

.cleared {
  background-color: var(--cell-cleared-background-color);
}

.bomb {
  background-color: var(--cell-bomb-background-color);
  font-size: 12px;
  line-height: 25px;
  border: 2px solid var(--cell-bomb-border-color);
  border-radius: 2px;
}

.flag {
  background-color: var(--cell-flag-background-color);
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight {
  background-color: var(--cell-integer-background-color);
}

.one {
  color: var(--cell-one-color);
}

.two {
  color: var(--cell-two-color);
}

.three {
  color: var(--cell-three-color);
}

.four {
  color: var(--cell-four-color);
}

.five {
  color: var(--cell-five-color);
}

.six {
  color: var(--cell-six-color);
}

.seven {
  color: var(--cell-seven-color);
}

.eight {
  color: var(--cell-eight-color);
}
