.cell {
  display: flex;
  justify-content: center;
  width: var(--cell-size);
  height: var(--cell-size);
  line-height: var(--cell-size);
  border: 1px solid var(--cell-border-color);
  background-color: var(--cell-background-color);
  font-family: "Pixel", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
